@import '../NameList/name-list.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#leftPane {
    min-height: 100vh;
    width: 150px;
    border-right: 1px solid black;
    background-color: #202020;
}