<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<title>Main Window</title>
	</head>
	<body>
		<div id="main">
			<div id="task-bar">
				<ul id="tasks">
					<li class="material-icons active-task">account_circle</li>
					<li class="material-icons not-active-task">apartment</li>
					<li class="material-icons not-active-task">night_shelter</li>
				</ul>
			</div>
			<div id="name-list">
				<ul id="names"></ul>
			</div>
			<div id="right-pane"></div>
		</div>
	</body>
</html>
